* {
    margin: 0;
    padding: 0;

}

body {
    font: 100% normal Arial, Helvetica, sans-serif;
    background: #161616;
}

form,
input,
select,
textarea {
    margin: 0;
    padding: 0;
    color: #ffffff;
}

div.box {
    margin: 0 auto;
    width: 500px;
    background: #222222;
    position: relative;
    top: 150px;
    border: 1px solid #262626;
}

div.box h1 {
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    padding: 5px 0 5px 7px;
    border-bottom: 1px solid #161712;
    border-top: 1px solid #161712;
}

div.box label {
    width: 100%;
    display: block;
    background: #1C1C1C;
    border-top: 1px solid #262626;
    border-bottom: 1px solid #161712;
    padding: 10px 0 10px 0;
}

div.box label span {
    display: block;
    color: #bbbbbb;
    font-size: 13px;
    float: left;
    width: 100px;
    text-align: right;
    padding: 10px 15px 0 10px;
}

div.box .entry {
    padding: 10px 10px;
    width: 200px;
    font-size: 15px;
    text-align: center;
    background: #262626;
    border-bottom: 1px double #171717;
    border-top: 1px double #171717;
    border-left: 1px double #333333;
    border-right: 1px double #333333;
}

div.box .message {
    padding: 10px 10px;
    width: 200px;
    font-size: 15px;
    text-align: center;
    background: #262626;
    border-bottom: 1px double #171717;
    border-top: 1px double #171717;
    border-left: 1px double #333333;
    border-right: 1px double #333333;
    overflow: hidden;
    height: 150px;
}

div.box button.one {
    position: absolute;
    top: 30%;
    left: 74%;
    margin: 0 0 10px 0;
    padding: 4px 7px;
    color: white;
    background: #CC0000;
    border: 0px;
    width: 100px;
    border-bottom: 1px double #660000;
    border-top: 1px double #660000;
    border-left: 1px double #FF0033;
    border-right: 1px double #FF0033;
}


div.box button.two {
    position: absolute;
    top: 40%;
    left: 74%;
    margin: 0 0 10px 0;
    padding: 4px 7px;
    color: white;
    background: #CC0000;
    border: 0px;
    width: 100px;
    border-bottom: 1px double #660000;
    border-top: 1px double #660000;
    border-left: 1px double #FF0033;
    border-right: 1px double #FF0033;
}

div.box button.three {
    position: absolute;
    top: 50%;
    left: 74%;
    margin: 0 0 10px 0;
    padding: 4px 7px;
    color: white;
    background: #CC0000;
    border: 0px;
    width: 100px;
    border-bottom: 1px double #660000;
    border-top: 1px double #660000;
    border-left: 1px double #FF0033;
    border-right: 1px double #FF0033;
}

div.box button.four {
    position: absolute;
    top: 87%;
    left: 74%;
    margin: 0 0 10px 0;
    padding: 4px 7px;
    color: white;
    background: #CC0000;
    border: 0px;
    width: 100px;
    border-bottom: 1px double #660000;
    border-top: 1px double #660000;
    border-left: 1px double #FF0033;
    border-right: 1px double #FF0033;
}

div.box button:hover {
    background-color: #bbbbbb7e;
    color: black;
    border: 1px double white;
}

div.keyInfo {
    position: absolute;
    top: 13%;
    left: 72%;
    display: block;
    color: #bbbbbb;
    font-size: 12px;
    margin: 10px;
}

div.textInfo {
    position: absolute;
    top: 65%;
    left: 72%;
    display: block;
    color: #bbbbbb;
    font-size: 12px;
    margin: 10px;
}